.task-main-wrapper {
  display: flex;
}

.task-form {
  height: 300px;
}

.card-box {
  margin: 1rem;
}

.selected {
  background-color: orange;
}

.completed-tasks,
.tasks {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.completed-tasks,
.tasks h3 {
  padding-left: 1rem;
  padding-top: 1rem;
}
